body {
    font-size: 25px; /* font-size 1em = 10px on default browser settings */
  }

.col-md-4-infouse {
    border-style: dashed;
    border-color: #468847;
}


.center {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру *//* Цвет фона */
   }

A {
    color: black; /* Цвет ссылок */
}
A:visited {
    color: black; /* Цвет посещенных ссылок */
}
A:active {
    color: black; /* Цвет активных ссылок */
}

.col-md-4 {
    text-align: center;
}

.row-border-margin {
    margin: 0 1em 0.5em 1em;
    border-bottom: outset;
    border-color: #468847;
}