body {
    font-size: 25px; /* font-size 1em = 10px on default browser settings */
}

a:link {
    color: white;
}
  
  /* visited link */
a:visited {
    color: white;
}

.col-md-4 {
    text-align: center;
}

.row-border-margin {
    margin: 0 1em 0.5em 1em;
    border-bottom: outset;
    border-color: #468847;
}

.clrsd {
    background-color: white;
}

body {
    background-color: black;
}

p {
    color: white;
}

h1, h3 {
    color: white;
}

label {
    color: white;
}

.file {
    border-right-color: green; /* Цвет линии справа */
    border-right-style: dotted; /* Стиль линии */
    border-right-width: 1px; /* Толщина линии */
    border-left-color: green; /* Цвет линии слева */
    border-left-style: dotted; /* Стиль линии */
    border-left-width: 1px; /* Толщина линии */
}

.btnDownload {
    background-color: green;
    border-radius: 5px;
    color: black;
    border-color: chartreuse;
}

input[type="file"] {
    display: none;
}
 
/* Собственно стилизируем кнопку в соответствии с нужным внешним видом */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}